.container-slid {
  margin-top: 100px;
  width: 936px;
  background-color: #558776;
  border-style: ridge;
  display: inline-block;
}
.slid-div-container {
  top: 18px;
  border-style: ridge;
  left: 18px;
  transition: all ease 1s;
  width: 900px;
  height: 480px;
  overflow: hidden;
  position: relative;
}
.slid-div {
  display: flex;
  background-color: #f2fff5;
  transition: all ease 1s;
  right: 0;
  height: 516px;
  position: relative;
}
.imgSlid {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 480px;
  background-color: rgb(255, 255, 255);
}
.imgSlid_img {
  max-width: 900px;
  max-height: 600px;
}

.flex-container-img {
  border-style: ridge;

  flex-wrap: wrap;
  text-align: left;
  height: auto;
  width: 900px;
  margin-left: 18px;
  margin-bottom: 18px;
  background-color: #f9f9f9;
  bottom: 20px;
}
.imgSlid-smol {
  margin-top: 10px;
  width: 96px;
  height: 56px;
  margin-left: 2px;
  margin-right: 2px;
}
.content-home {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}
